

.pointer{cursor:pointer;}
contatos.datepicker:hover{cursor:pointer}
.datepicker-days .today{background: #f5e79e !important;}
.datepicker-days .active{background: #00BFF2 !important;}
.datepicker-days .disabled{background: #ddd !important;}
P.breakhere {page-break-before: always}

.selectpicker.selects {
    height: 30px;
}

.selectVeiculoTroca{
    vertical-align: 6px;
}

.qtdRespostasPesquisa:hover{
    color: black !important;
    font-weight: 700 !important;
}

.divLogoEmpresa{   
    background-color: white;
    cursor: pointer;
    border: 1px black solid;
    width: 100px;
    height: 50px;
}

.logoEmpresa{
    max-width: 100px;
    max-height: 50px;
}
.divLogoEmpresa:hover{    
    box-shadow: 0px 0px 10px #888888;
}

.btn-group.bootstrap-select {
    padding-bottom: 5px;
    /*margin-top: -5px;*/
    border-color: #ccc;
}

.chosen-container .chosen-results {
    max-height:100px !important;
}

canvas{

}

.selectMenor{
    width: 150px !important;
}

.selectMedio{
    height: 35px !important;
    width: 300px !important;
}

.selectMaior{
    height: 45px !important;
}

.boxLegenda{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.iconeTabGraficoMenor{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #B1BDBD;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #E4E9ED;
}

.iconeTabGraficoMenor:hover{
    background-color: #BABABA;
    color: white;
}

.iconeTabGrafico{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #B1BDBD;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #E4E9ED;
}

.iconeVoltarMarketing{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #B1BDBD;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #E4E9ED;
}

.iconeVoltarMarketing:hover{
    background-color: #BABABA;
    color: white;
}

.iconeTabGraficoAtivo{
    background-color: #3498db !important;
    color: white !important;
}

.iconeTabGrafico:hover{
    background-color: #BABABA;
    color: white;
}

.iconeTableAtendimento{
    font-size: 20px;
    margin-left: 5px;
    vertical-align:-4px;
    cursor: pointer;
}

.iconeTableAtendimento:hover{    
    color: #b92c28;
}

.banco{
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
}

.bold{
    font-weight: bold;
}

.bodyImpressao{
    font-family: Arial, Helvetica, sans-serif;    
    overflow: scroll;
    text-align: center;
    background-image: none !important;
    background-color: white !important;
}

.tituloDashboard{
    font-size: 23px;
    font-weight: 700;
    color: #8F9A9C;
}

.tableMarketingEspecifico{    
    color: black;
}

.tableMarketingEspecifico td{
    font-weight: 700;
}

.tableMarketingEspecifico tr{
    line-height: 19px;
}

.tablePesquisa tr{
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

.tablePesquisa td{
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.tablePesquisa tr:hover{
    background-color: #3498db;
    color: white !important;
    cursor: pointer;   
}

.tableDashboard td{
    line-height: 35px;
}

.tableDashBoardAtr{
    font-size: 14px;
    color: #80848A;
    font-weight: 700;
}
.tableDashBoardVal{
    font-size: 16px;
    font-weight: 800;
}

.tableImpressao tr{
    line-height: 13px;
}

.tableImpressao td{
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
}

.tableImpressao th{
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 12px;
    height: 30px;
}

.tableImpressaoMenor tr{
    line-height: 12px;
}

.tableImpressaoMenor td{
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
}

.tableImpressaoMenor th{
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 11px;
    height: 28px;
}


.altRow {
    background-color: #CCC;
}

.removerFoto{
    color: #b92c28;
    font-size: 13px;
    position: absolute;
    right: 2px;
    top: 1px;
    z-index: 10;
    opacity: 0;
}

.removerFoto:hover{
    opacity: 1 !important;
}



.galeriaImagens{

    margin: 0 auto;
    margin-top: 10px;
    max-width: 520px;
    /*border: 1px black solid;*/

}

.checklistImageLoading{
    margin-top: 35px;
}



.iframe{
    border: none;
}


.inputTable{
    margin-bottom: 0px !important;
    vertical-align: -8px !important;
    width: 220px;
    height: 33px !important;
}

.radioTable{
    margin-bottom: 0px !important;
    vertical-align: -3px !important;
}

.nomeUsuarioChat{
    font-size: 13px;
    font-weight: 400;
    margin-left: 1px;
}

#textAreaChat{
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 60px;
    min-width: 30px;
    min-height: 28px;
    font-weight: 400;
    line-height: 1.3636;
    border-top: 2px #DDDDDC solid !important;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
    background-clip: padding-box;
    resize: none;
}

.mensagemDe{
    text-align: right;
}

.mensagemPara{
    text-align: left;
}

.balaoConversaDe{
    font-size: 12px;
    padding: 2px;
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    background-color: #D8EDFD;
    max-width: 180px;
    overflow-x: hidden;
    word-wrap: break-word;
    cursor: default;
}

.balaoConversaPara{
    font-size: 12px;
    padding: 2px;
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    background-color: #F5F3CD;
    max-width: 180px;
    overflow-x: hidden;
    word-wrap: break-word;
    cursor: default;
}

#textAreaChat[disabled]{
    background-color: white;
    cursor: default;
}

#campoTexto{
    /*    width: 100%;
        height: 60px;
        background-color: #689ACF;
        position: absolute;
        bottom: 0px;*/
}

.botaoAddContato{
    margin-left: 5px; 
    font-size: 25px; 
    vertical-align: -8px;
    cursor: pointer;
}

.botaoAddContato:hover{
    color: #41494e;
}

.buscaContatos{
    height: 100%;
    width: 80%;
    margin-left: 10px;
    border:none;
    outline: none !important;
}
.buscaContatos:focus{
    border:none !important;
    outline: none !important;
}

#chatQtd{
    float: left;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 2px;
    width: 28px;
    height: 100%;
    /*background-color: #434f62;*/
    border-radius: 8px 0px 0px 0px;
}

#contatosQtd{
    float: left;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 4px;
    width: 20px;
    height: 100%;
    border-radius: 8px 0px 0px 0px;
}

.topoChat{
    height: 30px;
    border-radius: 8px 8px 0px 0px;
    background-color: #434f6b;
    /*cursor: pointer;*/
}

#fullChat{
    display: none;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 275px;
    height: 350px;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 15px #888888;
}

.enviarEmailContatos{

}

.enviarEmailContatos:hover{
    color: black;
}

#fullContatos{
    display: none;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 165px;
    width: 275px;
    height: 350px;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 15px #888888;
}

#contatos{
    color: white;
    position: absolute;
    bottom: 0px;
    right: 165px;
    width: 140px;
    height: 30px;
    background-color: #434f6b;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}

#contatos:hover{
    background-color: #586685;
}

#chat{
    color: white;
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 140px;
    height: 30px;
    background-color: #434f6b;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}

#chat:hover{
    background-color: #586685;
}

.mensagem{
    border-bottom: 1px solid #bfc2c4;
    height: 55px;
    width: 100%;
}

.diaChat{
    font-size: 11px;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.iconeListaChat{
    font-size: 16px; 
    color: #434f6b;
    vertical-align: -3px;
}

.iconeListaMsg{
    margin-left: 5px;
    font-size: 30px; 
    color: #434f6b;
    vertical-align: -3px;
}

.usuarioListaMsg{
    font-size: 14px;
    margin-left: 6px;
    vertical-align: 3px;
}

.usuarioListaChat{
    font-size: 14px;
}

.contatoNomeLista{
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 110px !important;
}

.contatoNumeroLista{
    font-size: 11px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90px !important;
}

.trUsuarioListaMsg{
    height: 65px;
    cursor: pointer;
}

.divMsgLista{

    max-height: 50px;
    max-width: 100px;
    border: 1px black solid;
    word-wrap: break-word;

}

.tdUsuarioListaMsg{
    border-bottom: 1px solid rgb(211,211,211);
}

.trUsuarioListaMsg:hover{
    background-color: #3498db;
    color: white;
}

.trUsuarioListaChat{
    height: 25px;
    cursor: pointer;
}

.tdUsuarioListaChat{
    border-bottom: 1px solid rgb(211,211,211);
}

.trUsuarioListaChat:hover{
    background-color: #3498db;
    color: white;
}

.divMensagemLista{

    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgb(211,211,211);
    cursor: pointer;

}

.divMensagemLista:hover{

    background-color: #3498db;
    color: white;
}

.iconeMensagemLista{

    margin-top: 10px;
    margin-left: 4px;
    font-size: 30px; 
    color: #434f6b;
    float: left;
}

.iconeMensagemLista span{

    padding-left: 5px;

}

.userMensagemLista{

    margin-top: 2px;
    float: left;
    margin-left: 5px;
    font-weight: bold;

}

.msgMensagemLista{

    margin-top: 5px;
    font-size: 11px;
    margin-left: 5px;
    word-wrap: break-word;

}

.infoMensagemLista{
    width: 200px;
    font-size: 13px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: 13px;
    line-height: 1em;
    margin-top: 5px;
}

#relatorioSelecionado{
    /*    background-color: #3c4758 !important;
        color: white;
        position: absolute;
        font-size: 20px;
        height: 10px;
        width: 10px;
        text-align: center;*/
}

.msgErro{
    display:none; color:red; font-weight: 500;
}
.msgSucesso{
    display:none; color:green; font-weight: 500;
}

.diaSemana{    
    float: left;
    margin-left: 7px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 200px;
    height: 100%;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    border: 1px #ddd solid;    
    box-shadow: 0px 0px 2px #CCC;
    text-align: center;    
}

.infoAgendaAgendamento{
    text-align: left;
    padding-top: 3px;
    padding-left: 5px;
}

.agendaAgendamento{
    cursor: pointer;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: #CE4646;
    color: white;
    margin-top: 10px;
}
.agendaAgendamento:hover{
    background-color: #C0392B;
    ;}
.agendaAgendamentoFinanciamento{
    cursor: pointer;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: #27AE60;
    color: white;
    margin-top: 10px;
}
.agendaAgendamentoFinanciamento:hover{
    background-color: #387038;
}
.agendaSolicitacao{
    cursor: pointer;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: #8D38AD;
    color: white;
    margin-top: 10px;
}
.agendaSolicitacao:hover{
    background-color: #6E3583;
}

.agendaTarefaAtendimento{
    cursor: pointer;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: #A967BB;
    color: white;
    margin-top: 10px;
}
.agendaTarefaAtendimento:hover{
    background-color: #953CAD;
}
.agendaTarefa{
    cursor: pointer;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    margin-top: 10px;
}
.agendaTarefa:hover{
    background-color: #257AB3;
}
.agendaTarefaConcluida{
    cursor: pointer;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: #D1D1D1;
    color: #575757;
    margin-top: 10px;
}
.agendaTarefaConcluida:hover{
    background-color: #B1B1B1;
}

.agendaHorarios{
    float: left;
    height: 100%;
    min-height: 194px;
    width: 55px;
    border-radius: 5px;
    background-color: white;
    border: 1px #ddd solid;    
    box-shadow: 0px 0px 2px #CCC;
    padding-top: 5px;
    text-align: center;
}

.agendaHorariosIcone{
    font-size: 30px;
}

.agendaHorario{

    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;

}

.tituloDiaSemana{

    padding-top: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;

}

.historicoChecagem{

    width: 500px;
    margin-top: 5px;   
    margin-left: 7px;
    padding: 10px;
    float: left;

}

.historicoLeft{

    width: 30%;
    float: left;

}

.historicoUsuario{

    width: 100%;
    font-weight: 700;

}

.historicoData{
    width: 100%;
    font-size: 9px;
    margin-left: 1px;
}

.historicoTexto{
    width: 100%;
}

.historicoRight{

    height: 100%;
    width: 70%;
    float: right;
    font-size: 13px;

}

.caixaLegenda{

    width: 30px;
    height: 15px;
    border: 1px black solid;
    border-radius: 4px;

}

.itemSinalizado{
    box-shadow: 0px 0px 15px #888888 !important;
}

.grafico{
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
}
.grafico.azul{
    background-color: #3498db !important;
    color: white;
}
.grafico.azul2{
    background-color: #689ACF !important;
    color: white;
}
.grafico.verde{
    background-color: #27AE60 !important;
    color: white;
}
.grafico.vermelho{
    background-color: #C0392B !important;
    color: white;
}
.grafico.vermelho2{
    background-color: #D34C4C !important;
    color: white;
}
.grafico.roxo{
    background-color: #7152A8 !important;
    color: white;
}

.iconeListaSuperior{
    margin-left: 15px;
    font-weight: 500;
    color:#b5c5c9;
    cursor: pointer;
    display: inline-block;
}
.iconeListaSuperior:hover{
    color: #7e9aa1;
}
.iconeListaSuperiorAtivo{
    color: #434f62 !important;
    cursor: pointer;
}
.iconeListaSuperiorAtivo:hover{
    color: #434f62 !important;
}
#novoAtendimentoErroTelefone{

    color: red;
    font-size: 13px;
    font-weight: 500;
    vertical-align: 4px;
    margin-left: 5px;
    display: none;

}

.inputBloqueado{
    background-color:  #2b542c !important;
    cursor: not-allowed !important;
}

.inputBloqueado:hover{
    background-color: #2b542c !important;
}

#dialogNotificacoes{

    display: none;
    z-index: 5;
    position: absolute;
    bottom: 10px;
    left: 95px;
    height: 393px;
    width: 275px;
    background-color: #ecf0f1;

}

.tituloDialog{

    height: 38px;
    color: white;
    padding-top: 17px;
    border-bottom: #2775AA solid 1px;
    /*background-color: #d84a38;*/
    background-color: #3498db;
    width: 100%;
    font-size: 23px;
    font-weight: 300;
    text-align: center;

}

.verTodosDialog{
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

#setaNotificacoes{

    display: none;
    position: absolute;
    z-index: 5;
    bottom: 235px;
    left: 78px;
    color: #ecf0f1 !important;
    font-size: 25px;

}

#setaAgendamentos{

    display: none;
    position: absolute;
    z-index: 5;
    bottom: 165px;
    left: 78px;
    color: #ecf0f1 !important;
    font-size: 25px;

}

#dialogAgendamentos{

    display: none;
    z-index: 5;
    position: absolute;
    bottom: 10px;
    left: 95px;
    height: 393px;
    width: 275px;
    background-color: #ecf0f1;

}

#notificacoes{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    width: 400px;
    border: 1px #ddd solid;
    box-shadow: 0px 0px 2px #CCC;
    background-color: white;
}

#countNotificacoes{

    display: none;
    position: absolute;
    top: 72px;
    right: 4px;
    vertical-align: top;
    width: 21px;
    height: 21px;
    padding:1px 2px 1px 2px;
    background-color: #d64635 !important;
    color:white;
    font-weight:bold;
    font-size:0.55em;
    border: 1px #d84a38 solid;
    border-radius:40px;

}

#countNotificacoes2{

    position: absolute;
    margin-top: -8px;
    display: none;
    padding:2px 5px 2px 5px;
    color:#d64635;
    font-weight:bold;
    font-size:0.50em;
    border-radius:40px;

}

#countAgendamentos{

    display: none;
    position: absolute;
    top: 2px;
    right: 4px;
    vertical-align: top;
    width: 21px;
    height: 21px;
    padding:1px 2px 1px 2px;
    background-color: #d64635 !important;
    color:white;
    font-weight:bold;
    font-size:0.55em;
    border: 1px #d84a38 solid;
    border-radius:40px;

}

.empresaLogo{

    margin: 0 auto;
    margin-top: 35px;
    width: 300px;
    height: 158px;
    /*border-radius: 5px;*/
    text-align: center;

}

.loginBox{

    padding-left: 20px;
    margin: 0 auto;
    margin-top: 25px;
    width: 450px;
    height: 270px;
    background-color: white;    
    border: 1px #ddd solid;    
    box-shadow: 0px 0px 2px #CCC;

}

.copyright{

    margin: 0 auto;
    margin-top: 45px;
    padding-top: 15px;
    text-align: center;
    width: 600px;
    height: 50px;
    border-top: #ddd solid 1px;

}

.button.success {
    background-color: red;
    border: #901537 solid 1px;
    color: #fff;
    text-shadow: 0 -1px 0 #27ad60;
}

html,body{

    margin: 0;
    /*background-color: white;*/
    background-image: URL('../img/background.png');
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
    /*font: 14px FSMe,HelveticaNeue,Arial,sans-serif;*/

}

.menu{

    background-color: #33393d;
    float: left;
    width: 80px;
    height: 100%;
    position: fixed;

}

.direita{
    margin-left: 80px;
    height: 100%;
    /*  width: calc(100%-100px);
        width: 90%;
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: calc(100% - 100px);*/
}

.campoContrato{
    width: 115px !important;
}

.campoGrupo{
    width: 65px !important;
}

.campoCota{
    width: 50px !important;
}

.campoRd{
    width: 35px !important;
}

.campoCnpj{
    width: 155px !important;
}

.campoCpf{
    width: 125px !important;
}

.campoHora{
    width: 55px !important;
}

.campoData{
    width: 100px !important;
}

.campoCartao{
    width: 165px !important;
}

.campoVencimento{
    width: 80px !important;
}

.campoTel{
    width: 135px !important;
}

.campoFabMod{
    width: 90px !important;
}

.campoPlaca{
    width: 85px !important;
}

.campoValor{
    width: 145px !important;
}

.blocoEsquerda{

    /*position: relative;*/
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    float: left;
    height: 100%;
    width: 33%;
    background-color: #434f62;

}

.campoUf{
    width: 205px !important;
}

.campoDefault{
    width: 206px !important;
}

.blocoUnico{

    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    float: left;

}

.divDireitoModal{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.8;
}

.loadingCliente{
    z-index: 1500;
    margin-top: 23.5%;
    margin-left: 28%;
    color: white;
}

.tdTableGrafico{
    height: 70px;
    width: 70px;
    border: 1px rgb(236, 236, 236) solid;
}

.blocoDireita{

    overflow-y: auto;
    overflow-x: auto;
    width: 67%;
    height: 100%;

}

.cssTable tr{
    height: 37px;
}

.altRowClassChat { background-color: #DDDDDC; background-image: none; }
.altRowClass { background-color: #DDDDDC !important; background-image: none; }

#headerGridItens{
    width:700px;
}

#headerGridTitulos{
    width:800px;
}

#headerGridClientes{
    width:877px;
}

#headerGridEstoque{
    width:970px;
}

#headerGridVisitas{
    width:1082px;
}

#headerGridMonitoramento{
    width:1100px;
}
#headerGridGeolocalizacao{
    width:1095px;
}
#headerGridRoteirosAtivos{
    width:1050px;
}
#headerGridRoteirosSemanaisAtivos{
    width:1000px;
}
#headerGridRoteirosComprometidos{
    width:890px;
}

#headerGridMotivosVenda{
    width: 610px;
}
#headerGridMotivosVisita{
    width: 765px;
}
#headerGridFotos{
    width: 830px;
}
#headerGridFichas{
    width: 715px;
}
#headerGridUsuarios{
    width: 870px;
}


.iconRight{
    vertical-align: -1px;
    cursor: pointer;
    font-size: 15px;
    color: #27ad60;
}

.iconRight2{
    vertical-align: -1px;
    cursor: pointer;
    font-size: 15px;
}

.iconRight3{
    vertical-align: -1px;
    cursor: pointer;
    font-size: 19px;
}
.iconRight3:hover{
    color: #b92c28;
}

.iconRight4{
    cursor: pointer;
    font-size: 23px;
}
.iconRight4:hover{
    color: #b92c28;
}

.headerGrid{

    background-color: #3498db;
    color: white;
    font-weight: 400;
    font-size: 20px;
    height: 41px;    
    box-shadow: 0px 0px 15px #888888;

}

.tituloHeaderGrid{

    float: left;
    text-align: left;
    padding-top: 9px;
    padding-left: 12px;

}

.botao{
    cursor: pointer;
}

.botoesHeaderGrid{

    float: right;
    text-align: right;
    padding-top: 12px;
    padding-right: 12px;
    font-size: 18px;
    font-weight: 100;

}

.conteudo{

    padding-top: 10px;

}

.atributo2{

    font-size: 13px;
    color: rgb(77,73,73);
    font-weight: 600;
    letter-spacing: 0;

}

.conteudoBlocoEsquerda{

    padding-top: 10px;
    padding-left: 25px;

}

.conteudoBlocoDireita{

    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;

}

.negativo{
    color: red !important;
}

.botoesCantoDireito{

    float: right;
    margin-top: 10px;

}
.iconButton{
    border: #c9c9c9 solid 1px;
    background-color: #eee;
    color: black;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    vertical-align: middle;
}
.atributo{   
    width: 200px;
    vertical-align: top;
}
.atributo3{   
    padding-top: 6px;
    vertical-align: 7px;
    float: right;
    margin-right: 2px;
}
.iconButton:hover{
    border: #c9c9c9 solid 1px;
    background-color: #3498db;
    color: white;
}

.iconTextButton{
    color: white;
    font-weight: 200;
}

.textButtonRed{
    border: #b92c28 solid 1px;
    background-color: #d84a38;
    color: #fff;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 900;
}

.textButtonRed:hover{
    background-color: #c12e2a;
}

.textButton{
    border: #2775AA solid 1px;
    background-color: #3498db;
    color: #fff;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 900;
}

.textButton:hover{
    background-color: #2F7AAC;
}

.verde{
    background-color: #5bb75b;
    border-color: #387038;
}

.verde:hover{
    background-color: #408140;
}

.halfPageButton{
    width: 350px !important;
    height: 40px;
}

.halfPageButton:active{
    background-color: #eeeeee;
    color: black;
}

selects:active{
    background-color: #eeeeee;
    color: black;
}

.biggerSelects{
    width: 300px !important;
}

.fullPageButton{
    padding: 10px 26px 11px 12px !important;
    width: 95%;
    height: 45px !important;
}

.almostFullPageButton{
    padding: 10px 26px 11px 12px !important;
    width: 70%;
    height: 45px !important;
}

.h0{
    line-height: 85px;
    font-weight: 600;
    font-size: 75px;
}

h2{
    font-weight: 500;
    font-size: 30px;
    width: 500px;overflow-x: hidden;
    height: 35px;
    overflow-y: hidden;
}

h3{
    font-weight: 300;
    width: 400px;
}

h4{
    font-weight: 400;
    font-size: 22px;
}

.tituloSimples{
    padding-bottom: 3px;
    border-bottom: #eee solid 1px;
    display: inline;
    float: left;
    width: 95%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #434f62;
    font-size: 19px;
    font-weight: 600;
}

.tituloSimplesHalf{
    padding-bottom: 3px;
    border-bottom: #eee solid 1px;
    display: inline;
    float: left;
    width: 50%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #434f62;
    font-size: 19px;
}

.tituloSemQuebra3{
    font-weight: 300;
    font-size: 13px;
    display: inline-block;
    width: 70%;
    max-width: 70%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}
.statusAtendimento{

    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    width: 70%;
    max-width: 70%;    
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -7px;
    vertical-align: 5px;

}

.dataAtendimento{
    margin-left: 3px;
    color: #ddd;
    font-size: 9px;
    display: inline-block;
    vertical-align: top;
}

.dataAgendamento{
    margin-left: 3px;
    color: #ddd;
    font-size: 9px;
    display: inline-block;
}

.atendimentoWarning{

    float: right;
    margin-right: 25px;
    margin-top: 8px;
    color: #e38d13;
    font-size: 20px;

}

.expirado{

    /*    margin-right: 15px;
        margin-left: 5px;*/
    color: #e38d13;
    font-size: 15px;

}

.contatoAgendamento{
    font-weight: 400;
    color: #ddd;
    font-size: 12px;
    width: 250px;
    margin-top: -5px;
}

.cpfCliente{
    margin-left: 3px;
    color: #ddd;
    font-size: 9px;
    display: inline-block;
}

.telefoneCliente{
    font-weight: 400;
    color: whitesmoke;
    font-size: 12px;
    width: 250px;
    margin-top: -7px;
}

.buscaAtendimento{

    border: 1px white solid;
    width: 100%;
    height: 75px;
    color: white;

}

.tituloBlocoEsquerda{

    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    height: 60px;
    color: white;

}

.tituloBlocoDireita{

    float: left;
    position: relative;

}

.topo{

    padding-top: 15px;
    /*margin-left: -10px;*/
    height: 40px;
    color: black;

}

.tipoNotificacao.green{
    color: #27ad60 !important;
}

.tipoNotificacao.red{
    color: #c12e2a !important;
}

.tipoNotificacao.yellow{
    color: #e38d13 !important;
}

.tipoNotificacao.purple{
    color: slateblue !important;
}

.fp{
    width: 100%;
}

.notificacao{

    padding: 2px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;

}

.txtNotificacao{
    display: inline-block;
    text-align: left;
    width: 70%;
    margin-left: 5px;
}

.notificacaoVisualizada{

    color: #AAA;
    padding: 2px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;

}
.notificacaoVisualizada:hover{
    background-color: #3498db !important;
    color: white;
}

.horaNotificacao{

    text-align: right;
    font-weight: 600;
    width: 25%;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;

}

.notificacao:hover{
    background-color: #3498db !important;
    color: white !important;
}

.agendamentoMenu{

    text-align: center;
    background-color: #ecf0f1;
    border-bottom: 1px #c9c9c9 solid;
    height: 28px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;

}

.agendamentoMenu:hover{
    background-color: #3498db !important;
}

.tipoNotificacao{

    margin-top: 7px;
    margin-left: 5px;
    font-size: 18px;
    float: left;

}

.textoNotificacao{
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.textoAgendamentoMenu{
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.tipoAgendamentoMenu{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    font-size: 10px;
    font-weight: 400;
}

.statusAgendamentoMenu{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    font-size: 17px;
    font-weight: 400;
}

#agendamentosMenuMensagem{
    padding-top:7px;
    text-align: center;
    font-size: 13px;
}

.spanLink{

    cursor: pointer;
    text-decoration: underline;


}

.link{

    color: black;
    cursor: pointer;
    font-weight: 400;

}

.link:hover{
    text-decoration: underline;
}

.faturamento{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: white;

}

.faturamento:hover{

    background-color: #3c4758;

}

.descricaoBlocoEsquerda{

    background-color: #394353;
    padding-left: 15px;
    padding-top: 2px;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    height: 23px;
    color: white;

}

.tituloRelatorio{

    font-size: 20px;
    font-weight: 400;

}

.relatorio{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 100px;
    cursor: pointer;
    color: white;

}
.relatorio:hover{

    background-color: #3c4758;

}
.relatorioSelecionado{

    background-color: #3c4758 !important;

}
.atendimentoSelecionado{
    background-color: #3c4758 !important;
}
.clienteSelecionado{
    background-color: #3c4758 !important;
}

.infoRelatorio{

    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;


}

.descricaoRelatorio{

    padding-top: 5px;
    padding-left: 3px;
    color: #BABABA;
    font-size: 12px;
    font-weight: 500;
    width: 370px;

}

.atendimento{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: white;

}

.atendimento:hover{

    background-color: #3c4758;

}

.checklist{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: white;

}

.checklist:hover{

    background-color: #3c4758;

}

.checagem{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: white;

}

.checagem:hover{

    background-color: #3c4758;

}

.agendamento{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: white;

}

.agendamento:hover{

    background-color: #3c4758;

}

.checklistSelecionado{
    background-color: #3c4758 !important;
}
.agendamentoSelecionado{
    background-color: #3c4758 !important;
}
.checagemSelecionada{
    background-color: #3c4758 !important;
}
.faturamentoSelecionado{
    background-color: #3c4758 !important;
}

/*.cliente{

    border-bottom: solid 1px #3c4758;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: white;

}

.cliente:hover{

    background-color: #3c4758;

}*/

.infoCliente{

    padding-top: 3px;
    padding-left: 15px;

}

.infoAtendimento{

    height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-left: 15px;


}
.infoAgendamento{

    padding-top: 3px;
    padding-left: 15px;

}

.infoChecagem{

    padding-top: 3px;
    padding-left: 15px;

}

.logoMenu{

    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    /*cursor: pointer;*/

}


.selecionado{

    color: white !important;
    background-color: #d64635 !important;
    background-color: #3c4758 !important;

}

.itemMenuBotao{

    text-align: center;
    padding-top: 20px;
    border-bottom: solid 1px #41494e;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 28px;

}

.itemMenuBotao:hover{


    cursor: pointer;
    color: white;
    background-color: #434f62;

}

.itemsBotao{
    position: absolute;
    bottom: 0px;
    width: 80px;
}

.itemMenuTopo{

    text-align: center;
    padding-top: 20px;
    border-bottom: solid 1px #41494e;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: #777;
    font-size: 28px;

}

.itemMenuTopo:hover{

    cursor: pointer;
    color: white;
    background-color: #434f62;

}

.botoesPaginacao{

    padding-top: 5px !important;

}

.botaoPaginacao{

    cursor: pointer;
    color: white;

}

#clientes{
    min-height: 75%;
    min-height: -webkit-calc(100% - 150px);
    min-height: -moz-calc(100% - 150px);
    min-height: calc(100% - 150px);
}

#faturamentos{
    min-height: 75%;
    min-height: -webkit-calc(100% - 150px);
    min-height: -moz-calc(100% - 150px);
    min-height: calc(100% - 150px);
}

#atendimentos{
    min-height: 75%;
    min-height: -webkit-calc(100% - 150px);
    min-height: -moz-calc(100% - 150px);
    min-height: calc(100% - 150px);
}

#checklists{
    min-height: 75%;
    min-height: -webkit-calc(100% - 150px);
    min-height: -moz-calc(100% - 150px);
    min-height: calc(100% - 150px);
}

#checagens{
    min-height: 75%;
    min-height: -webkit-calc(100% - 150px);
    min-height: -moz-calc(100% - 150px);
    min-height: calc(100% - 150px);
}

#agendamentos{
    min-height: 75%;
    min-height: -webkit-calc(100% - 150px);
    min-height: -moz-calc(100% - 150px);
    min-height: calc(100% - 150px);
}

.paginacao{

    text-align: center;
    height: 30px;
    width: 100%;
    bottom: 35px;
    font-family: "Arial";
    display: none;
    color: #c9c9c9;
    font-size: 12px;

}

.orcamentoAceito{

    color: green !important;
    font-size: 19px !important;

}

.orcamentoNaoAceito{

    color: red !important;
    font-size: 12px !important;

}

.divDashboard{

    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 9px;
    border: 1px #ddd solid;    
    box-shadow: 0px 0px 2px #CCC;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    color: #8F9A9C;

}

.divDashboard:hover{

    box-shadow: 0px 0px 2px #689ACF;

}

.botaoDashboard{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #B1BDBD;
    vertical-align: top;
    display: inline-block;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #E4E9ED;
}

.botaoDashboard:hover{
    background-color: #BABABA;
    color: white;
    cursor: pointer;
}

.botaoDashboardAtivo{
    /*background-color: #D74F35 !important;*/
    background-color: #3498db !important;
    color: white !important;
}

.divOrigemAtendimento{
    text-align: center;
}

.visualizarOrcamento{
    cursor: pointer;
    font-size: 19px;
}

.visualizarOrcamentoDisabled{
    font-size: 19px;
    color: #888888;
}

#buscaLoading{
    display: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.buscaNaoFinalizada{
    border: 2px #b92c28 solid !important;    
}

.inputPaginacao{
    color: black;
    min-width: 1px !important;
    min-height: 1px !important;
    width: 32px !important;
    height: 18px !important;
    border: 1px black solid !important;
    font-size: 10px !important;
    text-align: center !important;
    margin-top: 9px !important;
}

.mensagemBlocoEsquerda{

    color: #c9c9c9;
    height: 40px;
    padding-top: 4px;
    padding-left: 25px;

}

.legendaAtd{
    width: 50px;
    cursor: default;
}

.legendaVendedor{    
    cursor: default;
    color: white;
    font-weight: 500;
    background-color: green;
    border-radius: 3px;
    border: green solid 1px;    
}

.legendaOutroVendedor{    
    cursor: default;
    color: white;
    font-weight: 500;
    background-color: green;
    border-radius: 3px;
    border: green solid 1px;  
}

.legendaChecagem{   
    cursor: default; 
    color: white;
    font-weight: 500;
    background-color: brown;
    border-radius: 3px;
    border: brown solid 1px;    
}

.legendaFaturamento{ 
    cursor: default;   
    color: white;
    font-weight: 500;
    background-color: SlateBlue;
    border-radius: 3px;
    border: SlateBlue solid 1px;    
}

.legendaAtendente{    
    cursor: default;
    color: white;
    font-weight: 500;
    background-color: blue;
    border-radius: 3px;
    border: blue solid 1px;    
}

.legendaAdm{    
    cursor: default;
    color: white;
    font-weight: 500;
    background-color: red;
    border-radius: 3px;
    border: red solid 1px;    
}

.legendaSup{    
    cursor: default;
    color: white;
    font-weight: 500;
    background-color: steelblue;
    border-radius: 3px;
    border: steelblue solid 1px;    
}

#qtdMensagens{

    display: none;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    vertical-align: top;
    color: #C0392B;
    font-weight:bold;
    font-size: 14px;
    text-align: center;

}
.doughnut-legend {
    list-style: none;
}
.doughnut-legend li {
    text-align: left;
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 13px;
    cursor: default;
}
.doughnut-legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: 2px;
}

.tooltip-arrow{border-right-color: #33393d !important;}
.tooltip-inner{background-color: #33393d;text-decoration: none;font-weight: 600;}


/* GRID */
.ui-state-default.ui-jqgrid-hdiv {background: #DDD !important;background-image: none !important;}
.ui-jqgrid-labels>th{border-right: 0px !important;border-bottom: 0px !important;background-image: none !important;background-color: whitesmoke !important;color:black !important;}
.ui-search-toolbar>th{border-right: 0px !important;border-bottom: 0px !important;background-image: none !important;background-color: whitesmoke !important;color:black !important;}
.ui-jqgrid-labels div{font-size: 12px !important;}
.ui-jqgrid-labels{}
.ui-jqgrid-bdiv{font-size: 11px !important; border: 0px !important;}
.ui-jqgrid-hbox{background-image: none;background-color: white;}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{border-radius: 0px !important;box-shadow: 0px 0px 6px 6px #ddd inset;}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{border:0px !important;box-shadow: 0px 0px 15px #888888!important;}
.ui-widget-content.jqgrow.ui-row-ltr{border:0px !important;}
.ui-widget-content.jqgrow.ui-row-ltr>td{border:0px !important;}
.alternateRowColor:not(.ui-state-hover):not(.ui-state-highlight) { background-color: #ddd !important; background-image: none !important;}
.ui-state-highlight:not(.ui-state-hover) {color: #999;}
.ui-state-highlight { background-color: #3498db !important; background-image: none !important;}
.ui-widget-content.jqgrow.ui-row-ltr.selected-row { background-color: #3498db !important; color:white; background-image: none !important;}
.ui-widget-content.jqgrow.ui-row-ltr:hover { background-color: #3498db !important; color:white;background-image: none !important;}
.loading.ui-state-default.ui-state-active{font-weight: normal !important;}
.ui-jqgrid-title{padding-left: 10px;font-size: 20px;color: white;font-weight: 400;line-height:31px;
                 font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
.ui-jqgrid-titlebar.ui-widget-header.ui-corner-top {background-color: rgb(1,63,98);
                                                    border-radius: 0px !important;
                                                    height: 35px !important;
                                                    background-image: none !important;}

.ui-jqgrid-ftable{border: 0px white;}
.footrow.footrow-ltr{border:0px white; border-top: 1px solid lightgray;}

.ui-jqgrid.ui-jqgrid-pager{background:none!important;}
.ui-pg-input{width:20px !important; min-height: 20px !important;}
.ui-search-input>select{font-size: 12px;max-height: 18px;border-width: 1px;min-width: 80%;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.ui-search-input>input{font-size: 12px;min-height: 20px;border-width: 1px;min-width: 80%;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.tableIcon{vertical-align: middle;padding-left: 5px;cursor: pointer;color: gray;font-size: 20px !important;}
.tableIcon:hover{color: #3c3c3c;}
.tableIconSmall{vertical-align: middle;padding-left: 5px;cursor: pointer;color: #3c3c3c;font-size: 20px  !important;}
.tableIconSmall:hover{color: white;}

.dashboard{vertical-align: top;border-radius:5px;border: 1px solid #CCC;box-shadow: 0px 0px 1px 1px #CCC;background-color: white;}
.dashboard:hover{box-shadow: 0px 0px 1px 1px #ddd;}

input[type=file] {
    color: black;}
/* DIALOG */
.dialog{display:none;}
.ui-widget-header{border: 0px !important;}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable{border-radius:0px !important;padding: 0px !important;}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all{border-radius:0px !important;background: #DDD !important;color:white;}
.ui-dialog-buttonpane.ui-widget-content{border-radius: 0px !important;box-shadow: 0px 0px 1px 1px #ddd inset;margin:0px;}
.ui-dialog-content.ui-widget-content{box-shadow: 0px 0px 1px 1px #ddd inset;}
.ui-dialog .ui-dialog-titlebar {height: 20px !important;}
.ui-dialog-title{color: rgb(104, 104, 104);
                 text-decoration: none;
                 font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                 font-weight: normal;
                 font-size: 14px;}
.noTitle .ui-dialog-titlebar {display:none}
.noTitle.ui-widget, .noTitle.ui-widget-content, .noTitle.ui-corner-all, .noTitle.foo, .noTitle.ui-draggable, .noTitle.ui-resizable {background-color: whitesmoke !important}​
.noTitle.ui-corner-all {border: 1px groove black;}


.datepicker:hover{cursor:pointer}
.datepicker-days .today{background: #f5e79e !important;}
.datepicker-days .active{background: #00BFF2 !important;}
.datepicker-days .disabled{background: #ddd !important;}


/*
DASHBOARD
*/
.dashboard{vertical-align: top;border-radius:10px;border: 1px solid #CCC;box-shadow: 0px 0px 1px 1px #CCC;background-color: white;}
.dashboard:hover{box-shadow: 0px 0px 1px 1px #dca7a7;}
.dashDescricao{font-weight: 400;
               font-size: 18px;
}
.dashValor{font-weight: bold;
           font-size: 18px;}
.dashValor:hover{ background-color: #f5e79e;padding: 3px 3px 3px 3px;border-radius: 10px;}
.dashTable{width: 90%;margin-left: 15px;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;}
.dashTable tr td {padding-bottom: 1em;}
.dashTab:hover{ background-color: #f5e79e;padding: 3px 9px 3px 9px;border-radius: 10px;}
.dashTab.selected{ background-color: #f5e79e;padding: 3px 9px 3px 9px;border-radius: 10px;}
.tooltip {
    text-decoration: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-weight: 600;
}
#canvas-holder{
    width:30%;
}


.botaoDashboard{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #B1BDBD;
    vertical-align: top;
    display: inline-block;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #E4E9ED;
}

.botaoDashboard:hover{
    background-color: #BABABA;
    color: white;
    cursor: pointer;
}

.botaoDashboardAtivo{
    /*background-color: #D74F35 !important;*/
    background-color: #3498db !important;
    color: white !important;
}