.ui-state-default.ui-jqgrid-hdiv {background: #DDD !important;background-image: none !important;}
.ui-jqgrid-labels>th{border-right: 0px !important;border-bottom: 0px !important;}
.ui-jqgrid-labels div{font-size: 11px !important;}
.ui-jqgrid-bdiv{font-size: 10px !important; border: 0px !important;}
.ui-jqgrid-titlebar.ui-widget-header.ui-corner-top{border-radius: 0px !important;background: #DDD !important;color:white;}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{border-radius: 0px !important;}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{border:0px !important;}
.ui-widget-content.jqgrow.ui-row-ltr{border:0px !important;}
.ui-widget-content.jqgrow.ui-row-ltr>td{border:0px !important;}
.alternateRowColor:not(.ui-state-hover):not(.ui-state-highlight) { background-color: #ddd !important; background-image: none !important;}
.ui-state-highlight { background-color: #e68300 !important; background-image: none !important;}
.ui-state-hover { background-color: #e68300 !important; background-image: none !important;}
.loading.ui-state-default.ui-state-active{font-weight: normal !important;}
.ui-jqgrid-title{font-size: 11px;text-shadow: black 0.2em 0.2em 0.3em, #3c3c3c -0.1em -0.1em 0.7em}
.ui-pg-input{width:20px !important; min-height: 20px !important;}
.tableIcon{padding-left: 2px;cursor: pointer;color: #3c3c3c;font-size: 19px;vertical-align: middle;}
.tableIconBateria{padding-left: 2px;color: #901537;font-size: 19px;vertical-align: middle;}