#qtdCarrinho{   
    position: absolute;
    background-color: red;
    top: 2px;
    right: 4px;
    font-size: 20px;
    //border-radius: 100px;
    padding: 1px 5px 1px 5px;
}

.orcamentoValor{
    float: right;
    font-size: 15px;
    padding: 3px;
    background-color: #4CAF50;
    border-radius: 2px;
    color: white;
}
.finalizarFarmaciaChooser > .ui-select{height: 23px;}
.finalizarFarmaciaChooser .ui-select .ui-btn{font-size: 12px;}

a {
    -webkit-touch-callout: none !important; 
}

.bandeirasCartao{
    display: inline-block;
    height: 50px;
    max-width: 100px;
}

.noClear + a{display:none;}
.noClear ~ a{display:none;}

a.cliente{text-align: right !important;}

p.cliente{float:right;background-color: #D6FFD8;}
div[data-role='page']{    background-color: white;}
input:not(.nd2-search-input) {background-color:#EEEFE6 !important;}
input[type='search'] {background-color:transparent !important;}
.ui-content{    background-color: white;}
.inputChat:focus{border-bottom:2px solid #4CAF50 !important;outline: 0; }
#page_farmacia .ui-icon-delete {display:none;}
/*p.speech:after
{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 38px;
        top: 100px;
        border: 15px solid;
        border-color: #fff transparent transparent #fff;
}
p.speech:before
{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        top: 100px;
        border: 25px solid;
        border-color: #666 transparent transparent #666;
}
p.speech
{
        position: relative;
        width: 200px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        background-color: #fff;
        border: 8px solid #666;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 2px 2px 4px #888;
        -moz-box-shadow: 2px 2px 4px #888;
        box-shadow: 2px 2px 4px #888;
}*/

p.usuario{background-color: #FEFFDC;}


.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.ui-selectmenu h1{display:none !important;}
/*.ui-checkbox-on::after{left: initial !important;}
.ui-checkbox-off::after{left: initial !important;}*/
.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:3em;
    /* remove boxshadow and border */
    border:none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px; 
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}

.split-custom-button::after{background-color: #4CAF50 !important;}
.btnReceita::after{background-color: #4CAF50 !important;}

.noShadow{
    box-shadow: 0px 0px 0px 0px white;
}


.menuIcon {font-size: 20px;
           vertical-align: middle;}

.center-wrapper{
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

.nd2-search-active .ui-title, .nd2-search-active .ui-btn h1{    display: block;
                                                                visibility: hidden;}
.nd2-toast{z-index:1000;}
/*
*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}*/

.nd2-color{color: #00B11E;}
.nd2-bccolor{background-color:#00B11E !important; color:white;}

.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {
    background-color: #D9DCD6;}

/*#formSearch input{width:80%;}*/

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

::-webkit-search-cancel-button:after {
    font-family: FontAwesome;
    content: "\f00d";
    cursor: pointer;
    position: fixed;
    right:50px;
    top:20px;
    color: white;
}

#swipebox-overlay {
    background: rgba(128, 128, 128, 0.7) !important;
}
.ui-page {
    -webkit-backface-visibility: hidden;
}



.ui-listview i.ui-thumbnail.ui-thumbnail-circular, .ui-listview i.ui-thumbnail.ui-thumbnail-circular {
    border-radius: 50% !important;
    overflow: hidden;
    display: block;
    border-width: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

.menu li a{text-align: left !important;}
.menu li h1 {color: #33393d;display:inline-block;vertical-align: middle;font-size: 1.5em;}
.menu .external {display:inline-block !important;vertical-align: middle;width:4em;height:4em;line-height:4em;background-color: whitesmoke;    box-shadow: 0px 0px 3px 1px #C5C5C5;text-align: center;}
.menu .internal {vertical-align:middle;color: #4CAF50;;font-size:2em;}

.nd2-toast-wrapper{text-align: center !important;}

.ui-loader-background {
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}